@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home - Razor";
}
@section banner{
<h1>Forms and Razors Samples</h1>
    }

<p>This is my first content page. I will call it home.</p>
@section footer{
    &copy; CPSC1517 NAIT 2019, all right reserved.
    }

